*{
  margin: 0px;
  padding: 0px;
}

main{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section{
  width: 50vw;
}

.class{
  width: 12%;
  height: 30px;
  margin: 0.1rem;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}
#s1{
  height: 50vh;
  background-color: brown;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  

}
#s2{
  height: 20vh;
  background-color: rgb(161, 96, 16);
  
}